#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
*.sublime-*
*.d/localhost
ssh/*
!ssh/authorized_keys
!ssh/config
ssh/*
ssh/id*
ssh/environment*
ssh/known_hosts
ssh/master/*

